<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exam.test.mapper.UserMapper"> 
	
	<select id="selectUser" resultType="com.example.exam.test.vo.UserVo"> 
		SELECT userid,
        	   username,
        	   passwd,
        	   useyn
		 FROM member E
		WHERE userid = '${userid}'
		  AND passwd = password('${passwd}')
	</select>
	
	 <insert id="userInsert" parameterType="com.example.exam.test.vo.UserVo">
        insert into member
             values
        		(
        		  #{userid},
        		  password(#{passwd}),
        		  #{username},
        		  0
        		 )
    </insert>
</mapper>
